<!-- Footer -->
<footer>
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <%= link_to 'About', about_path %>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <%= link_to 'Help', help_path %>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <%= link_to 'Contact', contact_path %>
            </li>
        </ul>
        <p class="copyright text-muted small"><%= copyright_generator %></p>
    </div>
</footer>