<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
        <div class="row">
            <% if @update.image.nil? %>
                <div class="col-12">
            <% elsif @update.id.odd? %>
                <div class="col-lg-5">
            <% elsif @update.id.even? %>
                <div class="col-lg-5 push-lg-7">
            <% end %>
                <p class="lead"><%= @update.body %></p>
                <p>Posted by <%= link_to @update.user.name, user_path(@update.user) %>, <%= time_ago_in_words(@update.created_at) %> ago</p>
                <div class="row">
                    <% if current_user.has_roles?(:admin, :mom, :helper) && @update.user == current_user %>
                        <div class="col-6 card-text blog-post-meta">
                            <%= link_to 'Edit', edit_update_path(@update), class: "btn btn-secondary btn-block" %>
                        </div>
                        <div class="col-6 card-text blog-post-meta">
                            <%= link_to 'Delete Update', @update, method: :delete, data: { confirm: 'Are you sure you want to delete that update?' }, class: "btn btn-danger btn-block" %>
                        </div>
                    <% end %>
                </div>  
                <div class="row">
                    <div class="col-6">
                        <%= link_to pluralize(@update.comments.count, "Comment"), update_path(@update), class: "btn btn-secondary btn-block" %>
                    </div>
                    <div class="col-6">
                        <%= form_for [@update, Like.new] do |f| %>
                            <%= f.hidden_field :update_id, value: @update.id %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.submit pluralize(@update.likes.count, 'Like'), class: "btn btn-secondary btn-block" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% unless @update.image.nil? %>
                <% if @update.id.odd? %>
                    <div class="col-lg-5 offset-lg-2">
                <% elsif @update.id.even? %>
                    <div class="col-lg-5 pull-lg-5">
                <% end %>
                    <%= image_tag @update.image, alt: "", class: "img-fluid rounded" %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-12">
                <% unless current_user.is_a?(GuestUser) %>
                    <%= form_for [@user, @update, Comment.new] do |f| %>
                        <%= f.text_area :body, placeholder: "Add a comment", class: "form-control" %>
                        <%= f.hidden_field :update_id, value: @update.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.submit "Add Comment", class: "btn btn-secondary" %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <%= render(partial: 'comments/comment', collection: @update.comments) %>
            </div>
        </div>
        <div class="row">
            <p><%= link_to 'Back to Updates', updates_path, class: "btn btn-secondary" %></p>
        </div>

    </div>
    <!-- /.container -->
</section>