<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %> | <%= @mother_to_be.name %>'s Baby Shower</title>
    <%= csrf_meta_tags %>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
      z-index: 1;
    }
    
    @media (max-width: 576px) {
      nav > .container {
        width: 100%;
      }
    }
    </style>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'shared/landing_nav' %>

    <!-- Header -->
    <header class="intro-header">
        <div class="darken-overlay">
        <div class="container">
            <div class="intro-message">
                <h1><%= @page_title %></h1>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li class="list-inline-item">
                        <%= link_to "Latest Updates", updates_path, class: "btn btn-lg btn-secondary" %>
                    </li>
                    <li class="list-inline-item">
                        <%= link_to "#{Event.order(:event_datetime).first.title}", event_path(Event.order(:event_datetime).first), class: 'btn btn-lg btn-secondary' %>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Good Food for Great Company</h2>
                    <p>A variety of nourishing choices to meet diverse dietary lifestyles, including:</p>
                    <ul>
                        <li>Sub sandwiches courtesy of Subway</li>
                        <li>Chicken and seafood kebabs from Zo&euml;s Kitchen</li>
                        <li>And more...</li>
                    </ul>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <%= image_tag "subs.jpg", alt: "", class: "img-fluid rounded"%>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 push-lg-7">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Fun and Games for All</h2>
                    <p>A welcoming space for loved ones of all ages and genders, with games and activities to help everyone enjoy themselves.</p>
                </div>
                <div class="col-lg-5 pull-lg-5">
                    <%= image_tag "game.jpg", alt: "", class: "img-fluid rounded"%>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Share a Special Moment with our Family</h2>
                    <p>Spend quality time with the mom-to-be before the impending arrival of the newest member of the Constant family.</p>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <%= image_tag "ultrasound.jpg", alt: "", class: "img-fluid rounded"%>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">
        <div class="darken-overlay banner-overlay">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>She's Registered:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <%= link_to "Target", "http://www.target.com/gift-registry/giftgiver?registryId=0435f36ea234455796649e67df50fd0e", class: "btn btn-secondary btn-lg" %>
                        </li>
                        <li class="list-inline-item">
                            <%= link_to "Babies R Us", "https://www.toysrus.com/registry/link/index.jsp?overrideStore=TRUS&registryNumber=59455539", class: "btn btn-secondary btn-lg" %>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <%= render 'shared/landing_footer'%>

  </body>
</html>